<div>
	<h1>Hello : )</h1>
	<a href="/">Volver a home</a>
	{{!-- <form id="add-product" action="/products" method="POST">
		<input type="text" name="title" placeholder="Ingresa un título">
		<input type="text" name="description" placeholder="Ingresa una descripción">
		<input type="number" name="price" placeholder="Ingresa un precio">
		<input type="text" name="thumbnail" placeholder="Ingresa la url de una imagen">
		<input type="text" name="code" placeholder="Ingresa un código">
		<input type="number" name="stock" placeholder="Ingresa un número de stock">
		<button>Enviar</button>
	</form>
	<div>
		<button id="button-emit-for-all" onclick="emitForAll()">Mensaje para todos (incluyéndome)</button>
		<button id="button-emit-for-all" onclick="emitForAllExceptMe()">Mensaje para los demás</button>
	</div> --}}
	<div class="card-container">
		{{#each products}}
		<div class="card">
			<ul>
				<li>Categoría: {{this.category}}</li>
				<li>Título: {{this.title}}</li>
				<li>Descripción: {{this.description}}</li>
				<li>Precio: {{this.price}}</li>
				<li><img class="card-img" src={{this.thumbnails}} alt=""></li>
				<li>Código: {{this.code}}</li>
				<li>Stock: {{this.stock}}</li>
				<li>Id: {{this._id}}</li>
			</ul>
		</div>
		{{/each}}
	</div>
</div>